/* Taking most of this CSS from https://github.com/trezp/flashcards-vue thanks :-) */

#root {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 100%;
  /* padding: 2em; */
}

body {
  margin: 0;
}

/* Form */

.flashcard-form {
  position: relative;
}

label {
  font-weight: 400;
  color: #333;
  margin-right: 10px;
}

textarea {
  font-size: 16px;
}

input {
  border-radius: 5px;
  border: 2px solid #eaeaea;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

/* Dim and disable the button while the form is invalid */
form:invalid button {
  opacity: 0.3;
  pointer-events: none;
}

.flashcard-form input {
  width: 50%;
}

.feedback input {
  width: 80%;
}

.feedback textarea {
  border-radius: 5px;
  border: 2px solid #eaeaea;
  padding: 10px;
  outline: none;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  height: 200px;
}

button {
  border-radius: 5px;
  border: 1px solid #87cb84;
  background-color: #87cb84;
  padding: 8px 15px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

button.copied::after {
  content: " 👍";
}

button.wait::after {
  content: " ⌛";
}

.error {
  margin-top: 10px;
  display: block;
  color: #e44e42;
  font-weight: 600;
}

.math-help {
  margin: 5px auto;
  display: block;
  font-size: 14px;
  color: grey;
  width: 80%;
}

.left {
  text-align: left;
}

.coffee {
  height: 60px !important;
  width: 217px !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: grey;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: grey;
}

.math {
  padding: 5px;
  opacity: 0.4;
}

.math svg {
  vertical-align: middle; /* or try baseline or top */
}

.mathActive {
  color: rgb(161, 125, 233);
}

.settings {
  color: black;
}

.settings h3 {
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  color: white;
  padding: 10px;
}

.settings h3.open {
  border-radius: 5px 5px 0px 0px;
}

.settings .items {
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  padding: 10px;
}

.your-data button {
  background-color: rgb(254, 202, 52);
  border-color: rgb(254, 202, 52);
}

.your-data .items {
  background-color: rgb(254, 202, 52, 0.1);
}

.your-data h3 {
  background-color: rgb(254, 202, 52);
}

.online-storage button {
  background-color: rgb(81, 170, 229);
  border-color: rgb(81, 170, 229);
}

.online-storage .items {
  background-color: rgb(81, 170, 229, 0.1);
}

.online-storage h3 {
  background-color: rgb(81, 170, 229);
}

.misc button {
  background-color: rgb(161, 125, 233);
  border-color: rgb(161, 125, 233);
}

.misc .items {
  background-color: rgb(161, 125, 233, 0.1);
}

.misc .items {
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  padding: 10px;
}

.misc h3 {
  background-color: rgb(161, 125, 233);
}

.misc h3 {
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  color: white;
  padding: 10px;
}

.misc h3.open {
  border-radius: 5px 5px 0px 0px;
}
/* 
input[type="search"] {
  border: 1px solid gray;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
} */

@media (hover: hover) and (pointer: fine) {
  button:disabled:hover,
  button[disabled][hover] {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
  }

  .your-data button:hover {
    background-color: rgb(254, 202, 52, 0.7);
  }

  .online-storage button:hover {
    background-color: rgb(81, 170, 229, 0.7);
  }

  .misc button:hover {
    background-color: rgb(161, 125, 233, 0.7);
  }
}
